<div class="hero-image">
  <div class="hero-text">
    <h1>Explore Collections</h1>
  </div>
</div>
<div class="container">
  <ul class="cards">
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/penguin1.png" alt="Penguin in sunglasses"></div>
          <div class="card_content">
            <h2 class="card_title">PUDGY PENGUINS</h2>
            <p class="card_text">Located in the freezing cold, arctic region of the metaverse you can find 8,888 cute
              chubby Pudgy Penguins.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/ape1.png" alt="Monkey blowing chewing gum bubble"></div>
          <div class="card_content">
            <h2 class="card_title">NBAYC</h2>
            <p class="card_text">5000 Apes looking to join the basketball court. Pick up 5 players to watch your team
              compete in the game.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/kong1.png"
                                       alt="Monkey with purple hat, sunglasses and headphones"></div>
          <div class="card_content">
            <h2 class="card_title">THE META KONGZ</h2>
            <p class="card_text">The Kongz are unique and randomly generated 3D NFT PFP. Not only that, Kongz can make
              coins.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/xconsole.png" alt="A pixelated game console"></div>
          <div class="card_content">
            <h2 class="card_title">X-CONSOLES</h2>
            <p class="card_text">1,000 Pixelated Consoles, with 50 Genesis Consoles, that allow you to play the
              $Game.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/yatch.png" alt="A bored ape"></div>
          <div class="card_content">
            <h2 class="card_title">BORED APE YACHT CLUB</h2>
            <p class="card_text">The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique
              digital collectibles living on the Ethereum blockchain. </p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/coolman.png"
                                       alt="A blob-like figure in a Hawaii-shirt with a sword on its back"></div>
          <div class="card_content">
            <h2 class="card_title">COOLMAN'S UNIVERSE</h2>
            <p class="card_text">🛸 10,000 Speshies vibin’ & surfing through the Universe 🪐. Spesh is looking for his
              best friend throughout Coolman's Universe.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/vox.png" alt="A bearded man with a cubic appearance">
          </div>
          <div class="card_content">
            <h2 class="card_title">VOX COLLECTIBLES</h2>
            <p class="card_text">Meet VOX, the adorable collectible series from Gala Labs. Own, play and earn rewards
              with your unique ERC721 avatar.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/doodle.png" alt="An animated person with a bucket hat">
          </div>
          <div class="card_content">
            <h2 class="card_title">DOODLES</h2>
            <p class="card_text">A community-driven collectibles project featuring art by Burnt Toast. Doodles come in a
              joyful range of colors, traits and sizes.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/world.jpeg" alt="A pixelated river"></div>
          <div class="card_content">
            <h2 class="card_title">NFT WORLDS</h2>
            <p class="card_text">Each NFT World is an explorable, limitless world that can be built into anything you
              can imagine.</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/bear.png" alt="An animated bear with sunglasses"></div>
          <div class="card_content">
            <h2 class="card_title">PHANTABEAR</h2>
            <p class="card_text">Phanta Bear is a collection of 10,000 algorithmically generated digital collectibles
              that double as membership...</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/clonex.png" alt="An animated boy with large eyes"></div>
          <div class="card_content">
            <h2 class="card_title">CLONE-X</h2>
            <p class="card_text">🧬 CLONE X 🧬 &nbsp; 20,000 next-gen Avatars, by RTFKT and Takashi Murakami 🌸</p>
          </div>
        </div>
      </a>
    </li>
    <li class="cards_item">
      <a href="/item/1">
        <div class="card">
          <div class="card_image"><img src="../../assets/items/sandbox.jpeg"
                                       alt="A grid with different game related icons"></div>
          <div class="card_content">
            <h2 class="card_title">THE SANDBOX</h2>
            <p class="card_text">The Sandbox is a community-driven platform where creators can monetize voxel assets
              and...</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
<app-footer></app-footer>
