body {
  margin-top: 2rem;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  padding: 0.5rem;
  background-color: #0F171C;
  text-align: center;
  color: #e2e8f0;
}
