.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
}

.playgroundElement {
  //margin-top: 2rem;
}

.playgroundTitle {
  margin-bottom: 0;
}

.tree-view-container {
  max-width: 15rem;
}
