<!--  Header  -->
<!--<div class="header-wrapper">-->
<div class="hero-image">
  <div class="hero-text">
    <h1 class="my-hero-text-main">OptiEmporium</h1>
    <h2 class="my-hero-text-sec">NFT trading and more</h2>
  </div>
</div>
<!--</div>-->
<section>
  <div class="container">
    <div class="col-3 text--center">
      <img src="assets/images/penguins.jpeg" alt="penguins.jpeg" style="border-radius: 16px;">
    </div>
    <div class="col-7 details">
      <h3 class="welcome-text-header" style="line-height: 1.1">Welcome to OptiEmporium</h3>
      <p>OptiEmporium is the world's newest and most incredible NFT marketplace</p>
      <p>All our NFTs are tracked on ethereum and other blockchains. All purchases are made in crypto guaranteeing
        complete anonymity!</p>
      <a class="btn btn-primary" href="/explore" style="margin-top: 1.5rem;">Explore Our Exclusive Collections!</a>
    </div>
  </div>
</section>
<section class="section--primary">
  <div class="container" style="color: aliceblue">
    <div class="col-3 features">

      <i class="fab fa-ethereum"></i>
      <p style="color: aliceblue;">
        You can cash out your ETH straight to your bank account without going through an exchange.
      </p>
    </div>
    <div class="col-3 features">
      <i class="fab fa-accessible-icon"></i>
      <p style="color: aliceblue">
        Accessibility is a priority, and we work closely with a dedicated accessibility team following the WCAG 2.1 AA
        guidelines.
      </p>
    </div>
    <div class="col-3 features">
      <i class="fas fa-dice-d6"></i>
      <p style="color: aliceblue">
        NFTs are designed to give you something that can’t be copied: ownership of the work!</p>
    </div>
  </div>
</section>
<section class="section--primary--alt">
  <div class="container">
    <h3 style="color: aliceblue;">Take your NFTs with you everywhere you go.</h3>
    <p style="color: aliceblue;">With our secure proprietary biometric wallets you can store all your purchase claims
      locally and have them always with you. this will make hackers and bad actors a thing of the past!</p>
  </div>
</section>
<section class="section--primary--light">
  <div class="container">
    <blockquote class="testimonial">
      <p>Buy as many NFTs as you can. And fast!</p>
      <cite>
        Warren Buffett
      </cite>
    </blockquote>
  </div>
</section>


<section class="section--primary--alt bg-image bg-image-2">
  <div class="container text--center">
    <h3 style="color:#ffffff;">Reasons to buy NFTs:</h3>
    <div class="clr-row clr-justify-content-center" style="margin-top: 1rem;">
      <div class="clr-col-md-3 text-left">
        <ul>
          <li>Indivisibility</li>
          <li>Scarcity</li>
          <li>Uniqueness</li>
          <li>Ownership</li>
          <li>Transparency!</li>
        </ul>
      </div>
      <div class="clr-col-md-3 text-left">
        <ul>
          <li>Interoperability</li>
          <li>Security</li>
          <li>Social tokens</li>
          <li>Certification</li>
          <li>Decentralized domains</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>Why are you still reading?</h3>
    <a href="/login" class="btn">Login to your account</a>
  </div>
</section>

<app-footer></app-footer>
